html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    box-sizing: border-box;
    background-color: var(--base-background-contrast);
    color: var(--base-color);
    font-family: var(--base-font-family);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    --content-width: 80rem;
}

a {
    color: inherit;
}

p {
    font-size: 1.2rem;
    max-width: var(--content-width);
}

header, footer {
    margin: 0 48px;
    width: calc(100% - 96px);
    max-width: var(--content-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    position: absolute;
    box-sizing: border-box;
    padding: 20px 0 16px 0;
    border-bottom: 1px solid var(--muted-color);
}

header a {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    padding: 16px 0 24px 0;
    border-top: 1px solid var(--muted-color);
    margin-top: 16px;
    font-size: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 48px 32px;
    box-sizing: border-box;
}

span {
    display: flex;
    gap: 12px;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: var(--heading-color);
}

.bg-mute {
    background-color: var(--muted-background);
    border: 1px solid var(--muted-color);
    border-left: none;
    border-right: none;
}

.row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.row > .separator {
    background-color: var(--muted-color);
    width: 1px;
    margin: 64px 0;
}

.full-height {
    min-height: 100%;
}

.presentation {
    padding: 24px;
    background-color: var(--muted-background);
    border: 1px solid var(--muted-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 30rem;
    text-align: center;
    box-shadow: 0 0 4px 2px #22222206;
}

.fade-in > * {
    opacity: 0;
    animation: fade-from-bottom 1.2s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

.fade-in > .presentation {
    transform: translateY(32px);
}

@keyframes fade-from-bottom {
    100% {
        opacity: 1;
        transform: none;
    }
}

.title {
    height: 64px;
}
.title > img {
    height: inherit;
}

.placeholder {
    min-width: 50vw;
    min-height: 50vh;
}

@media screen and (max-width: 799px) {
    header {
        position: relative;
    }

    .row {
        flex-direction: column;
    }

    .separator {
        display: none;
    }

    .full-height {
        min-height: auto;
    }
}