@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&family=Inter:wght@400;500;600&family=Manrope:wght@800&display=swap');

:root {
    --base-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-font-size: 18px;
    --base-font-weight: 400;
    /*--base-font-weight: 400;*/
    --heading-font-weight: 550;
    --blockquote-border-radius: 5px;
    --blockquote-border-color: var(--mono-tint2);;
    --blockquote-border-width: 1px;
    --sidebar-background: #f6f6f6;
    --sidebar-border-color: #f6f6f6;
    --sidebar-name-font-weight: 700;
    --heading-h2-font-weight: 650;
    --sidebar-transition-duration: 250ms;
    --sidebar-width: 19rem;
    --sidebar-padding: 0 40px;
    --sidebar-nav-link-border-style: none;
    --sidebar-background: #f2f2f2;
    --base-background-color: #f2f2f2;
    --sidebar-toggle-background: rgba(255, 255, 0, 0);
    --code-theme-background: #ebebeb;
    --sidebar-soft-shadow: #cecece3e;
}

.sidebar-nav p * {
    font-family: 'Inter', sans-serif;
}

.sidebar-nav strong {
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
}

.sidebar {
    box-shadow: 20px 20px 60px var(--sidebar-soft-shadow),
                -20px -20px 60px var(--base-background-color);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.markdown-section {
    padding-top: 3.5rem;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --theme-color: #73a6e0;
    --base-background-color: #111;
    --base-color: #bbb;
    --heading-color: #fff;
    --link-color: #eee;
    --selection-color: #374c64;
    --sidebar-background: #1a1a1a;
    --sidebar-border-color: #333;
    --sidebar-soft-shadow: #1114;
    --sidebar-nav-link-color: var(--base-color);
    --code-theme-background: #2a2a2a;
    --code-theme-text: #fff;
    --code-inline-background: #2a2a2a;
    --code-inline-color: #ddd;
    --copycode-background: #222;
    --copycode-color: #fff;
    --kbd-background: #111;
    --kbd-border: 1px solid var(--mono-tint1);
    --blockquote-background: #1a1a1a;
    --blockquote-border-color: #777;
  }
}
