@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&family=Inter:wght@400;500;600&family=Manrope:wght@800&display=swap');

:root {
    --base-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-font-size: 18px;
    --base-font-weight: 400;
    --base-color: #333;
    --base-color-emphasize: #555;
    --heading-color: var(--base-color);
    --base-background-contrast: #f6f6f6;
    --soft-color: #999;
    --muted-color: #ddd;
    --muted-background: #fff;
    --heading-font-weight: 550;
    --blockquote-border-radius: 5px;
    --blockquote-border-color: #e3e3e3;
    --blockquote-border-width: 1px;
    --sidebar-background: #f6f6f6;
    --sidebar-border-color: #f6f6f6;
    --sidebar-name-font-weight: 700;
    --heading-h2-font-weight: 650;
    --sidebar-transition-duration: 250ms;
    --sidebar-width: 19rem;
    --sidebar-padding: 0 32px;
    --sidebar-nav-link-border-style: none;
    --sidebar-background: #f2f2f2;
    --base-background-color: #f2f2f2;
    --sidebar-toggle-background: rgba(255, 255, 255, 0);
    --code-theme-background: #ebebeb;
    --sidebar-soft-shadow: #aaaaaa33;
    --sidebar-toggle-offset-left: 16px;

    --button-color: #fff;
    --button-color-hover: var(--base-color);
    --button-background: #00c483;
    --button-background-hover: #fff;
    --button-background-active: #d1ffe7;
    --button-ink: #40ff89b0;
    --button-underline: underline;
    
    --eupnea-green: inherit;
    --eupnea-blue: #2d8fff;
    --selection-color: #9bcaff;
}

button.big {
    cursor: pointer;
    color: var(--button-color);
    padding: 0.8rem 1.4rem;
    min-width: 10rem;
    font: inherit;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--button-background);
    box-shadow: 0 0 var(--button-background), 0 0.1rem 0 #0008;
    transition: color 0.1s, background-color 0.4s,
                padding 0.2s, margin 0.2s, min-width 0.2s,
                box-shadow 2s cubic-bezier(0.19, 1, 0.22, 1);
}
button.big:hover {
    text-decoration: var(--button-underline);
    color: var(--button-color-hover);
    margin: 0 -0.6rem;
    padding: 0.8rem 2rem;
    min-width: 11rem;
    background-color: var(--button-background-hover);
    box-shadow: 0 0 0 0.8rem var(--button-ink), 0 0.2rem 0 #0008;
    transition: color 0s, background-color 0.1s,
                padding 0.2s, margin 0.2s, min-width 0.2s,
                box-shadow 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
button.big:active {
    margin: 0 -0.4rem;
    padding: 0.8rem 1.8rem;
    min-width: 10.5rem;
    background-color: var(--button-background-active);
    box-shadow: 0 0 0 0.2rem var(--button-ink), 0 0.2rem 0 #0008;
    transition: padding 0.1s, margin 0.1s, min-width 0.1s,
                box-shadow 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

svg {
    fill: var(--base-color);
}

a {
    transition-duration: 0.1s;
}
a svg {
    transition-duration: inherit;
}
a:not(:active):hover {
    color: var(--base-color-emphasize);
}
a:not(:active):hover svg {
    fill: var(--base-color-emphasize);
}

select {
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0;
}

.sidebar-nav > p, .sidebar-nav ul > li {
    padding: 0 8px;
}

.sidebar-nav ul > li.active {
    background-color: var(--code-inline-background);
}

.sidebar-nav p * {
    font-family: 'Inter', sans-serif;
}

.sidebar-nav strong {
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
}

.sidebar {
    box-shadow: 0 20px 60px var(--sidebar-soft-shadow);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.markdown-section {
    padding-top: 3.5rem;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --theme-color: #73a6e0;
    --base-background-color: #101113;
    --base-background-contrast: var(--base-background-color);
    --base-color: #bbb;
    --base-color-emphasize: #f4f4f4;
    --muted-color: #495161;
    --muted-outline: var(--muted-color);
    --muted-background: #1f2125;
    --heading-color: #fff;
    --link-color: #ddd;
    --selection-color: #21548d;
    --sidebar-background: var(--muted-background);
    --sidebar-border-color: #333;
    --sidebar-soft-shadow: #0000;
    --sidebar-nav-link-color: var(--base-color);
    --code-theme-background: #2b2e36;
    --code-theme-text: #fff;
    --code-inline-background: var(--code-theme-background);
    --code-inline-color: #ddd;
    --copycode-background: rgb(34, 34, 34);
    --copycode-color: #fff;
    --kbd-background: #111;
    --kbd-border: 1px solid var(--mono-tint1);
    --blockquote-background: var(--muted-background);
    --blockquote-border-color: #777;
    --soft-color: #999;
    
    --button-color: #fff;
    --button-color-hover: #fff;
    --button-background: #00bd7e;
    --button-background-hover: var(--button-background);
    --button-background-active: #009c68;
    --button-ink: #2f3a35da;
    --button-underline: none;
    
    --eupnea-green: #5cff8c;
    --eupnea-blue: #3ca7ff;
  }
}