@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&family=Inter:wght@400;500;600&family=Manrope:wght@800&display=swap');

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

:root {
    --base-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-color: #333;
    --base-color-emphasize: #555;
    --heading-color: var(--base-color);
    --base-background-contrast: #f6f6f6;
    --soft-color: #999;
    --muted-color: #ddd;
    --muted-background: #fff;
    --base-background-color: #f2f2f2;

    --button-color: #fff;
    --button-color-hover: var(--base-color);
    --button-color-disabled: var(--button-color);
    --button-background: #00c483;
    --button-background-hover: #fff;
    --button-background-active: #d1ffe7;
    --button-background-disabled: #aaa;
    --button-ink: #40ff89b0;
    --button-underline: underline;
    --button-outline-tint: none;
    --button-outline-tint-hover: none;

    --select-background: var(--base-background-color);
    --select-background-hover: var(--base-background-color-contrast);
    --kbd-shadow-color: #3333;

    --eupnea-green: inherit;
    --eupnea-blue: #2d8fff;
    --selection-color: #9bcaff;
}

:root {
    --d-theme-color: #73a6e0;
    --d-base-background-color: #17181a;
    --d-base-background-contrast: var(--base-background-color);
    --d-base-color: #bbb;
    --d-base-color-emphasize: #f4f4f4;
    --d-muted-color: #4f5055;
    --d-muted-outline: var(--muted-color);
    --d-muted-background: #2a2c31;
    --d-heading-color: #fff;
    --d-link-color: #ddd;
    --d-selection-color: #21548d;
    --d-soft-color: #999;

    --d-button-color: #fff;
    --d-button-color-hover: #fff;
    --d-button-color-disabled: var(--base-color);
    --d-button-background: #00bd7e;
    --d-button-background-hover: var(--button-background);
    --d-button-background-active: #009c68;
    --d-button-background-disabled: var(--muted-color);
    --d-button-ink: #2f3a35da;
    --d-button-underline: none;
    --d-button-outline-tint: var(--base-background-color);
    --d-button-outline-tint-hover: var(--button-ink);

    --d-select-background: #383838;
    --d-select-background-hover: var(--base-background-color);
    --d-kbd-shadow-color: #aaa3;

    --d-eupnea-green: #5cff8c;
    --d-eupnea-blue: #3ca7ff;
}

::selection {
    background-color: var(--selection-color);
}

button.big {
    cursor: pointer;
    padding: 0.7em 1.2em;
    min-width: 8em;
    font: inherit;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 0.8em;
    transition: color 0.1s, background-color 0.4s,
        padding 0.2s, margin 0.2s, min-width 0.2s,
        box-shadow 2s cubic-bezier(0.19, 1, 0.22, 1);
}

button.big:enabled:hover {
    text-decoration: var(--button-underline);
    margin: 0 -0.2em;
    padding: 0.7em 1.4em;
    min-width: 9em;
    transition: color 0s, background-color 0.1s,
        padding 0.2s, margin 0.2s, min-width 0.2s,
        box-shadow 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

button.big:enabled:active {
    margin: 0 -0.1em;
    padding: 0.7em 1.3em;
    min-width: 8.5em;
    transition: padding 0.1s, margin 0.1s, min-width 0.1s,
        box-shadow 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

button.big:disabled {
    cursor: inherit;
    color: var(--button-color-disabled);
    background-color: var(--button-background-disabled);
    box-shadow: 0 0 var(--button-background-disabled), 0 0.1em 0 #0008;
}

button.solid {
    border: none;
    color: var(--button-color);
    background-color: var(--button-background);
    box-shadow: 0 0 var(--button-background), 0 0.1em 0 #0008;
}

button.solid:enabled:hover {
    color: var(--button-color-hover);
    background-color: var(--button-background-hover);
    box-shadow: 0 0 0 0.6em var(--button-ink), 0 0.2em 0 #0008;
}

button.solid:enabled:active {
    background-color: var(--button-background-active);
    box-shadow: 0 0 0 0.2em var(--button-ink), 0 0.2em 0 #0008;
}

button.outline {
    border: 0.15em solid var(--button-background);
    color: var(--button-background);
    background-color: var(--button-outline-tint);
    box-shadow: 0 0 var(--button-background);
}

button.outline:enabled:hover {
    color: var(--button-color-hover);
    background-color: var(--button-outline-tint-hover);
    box-shadow: 0 0 0 0.6em var(--button-ink);
}

button.outline:enabled:active {
    box-shadow: 0 0 0 0.2em var(--button-ink);
}

svg {
    fill: var(--base-color);
}

a {
    transition-duration: 0.1s;
}

a svg {
    transition-duration: inherit;
}

a:not(:active):hover {
    color: var(--base-color-emphasize);
}

a:not(:active):hover svg {
    fill: var(--base-color-emphasize);
}

.dropdown-row {
    display: flex;
}

[data-color=good] {
    color: var(--vp-c-brand);
}

[data-color=bad] {
    color: var(--vp-c-yellow);
}

.multiselect {
    display: inline-block;
    cursor: pointer;
    color: inherit;
    min-width: 13em;
    width: max-content;
    --border-color: var(--muted-color);
    margin: 1.8em 0.2em 0.2em 0;
}

.multiselect.wide {
    width: 100%;
}

.multiselect label {
    position: absolute;
    bottom: 100%;
    font-size: 0.8em;
}

.multiselect--active {
    --border-color: var(--vp-c-brand);
}

.multiselect--active .multiselect__tags {
    border-bottom-color: var(--muted-color);
}

.multiselect input {
    color: inherit;
}

.multiselect input::placeholder {
    color: inherit;
    opacity: 0.5;
}

.multiselect__tags {
    background-color: var(--select-background);
    border: 0.1em solid var(--border-color);
    border-radius: 0.2em;
    padding: 10px 40px 0 8px;
}

.multiselect__input,
.multiselect__single {
    background: none;
}

ul.multiselect__content {
    padding: 0;
    margin: 0;
}

.multiselect li+li {
    margin: 0;
}

.multiselect__content-wrapper {
    border-color: var(--border-color);
}

.multiselect__option {
    color: inherit !important;
    background: var(--select-background);
}

.multiselect__option::after {
    display: none;
}

.multiselect__option--highlight {
    background: var(--select-background-hover);
}

.multiselect__option--selected {
    font-weight: inherit;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: var(--base-background-color);
}

kbd {
    padding: 0.3em 0.4em;
    margin: 0.1em;
    background-color: var(--vp-c-mute);
    border-radius: 0.2em;
    border: 0.1em solid var(--muted-color);
    box-shadow: 0 0.1em 0.1em var(--kbd-shadow-color);
    font-family: inherit;
    font-size: 0.9em;
}

.inline-warning {
    color: var(--vp-c-red);
}

html.dark {
    --theme-color: var(--d-theme-color);
    --base-background-color: var(--d-base-background-color);
    --base-background-contrast: var(--d-base-background-contrast);
    --base-color: var(--d-base-color);
    --base-color-emphasize: var(--d-base-color-emphasize);
    --muted-color: var(--d-muted-color);
    --muted-outline: var(--d-muted-outline);
    --muted-background: var(--d-muted-background);
    --heading-color: var(--d-heading-color);
    --link-color: var(--d-link-color);
    --selection-color: var(--d-selection-color);
    --soft-color: var(--d-soft-color);

    --button-color: var(--d-button-color);
    --button-color-hover: var(--d-button-color-hover);
    --button-color-disabled: var(--d-button-color-disabled);
    --button-background: var(--d-button-background);
    --button-background-hover: var(--d-button-background-hover);
    --button-background-active: var(--d-button-background-active);
    --button-background-disabled: var(--d-button-background-disabled);
    --button-ink: var(--d-button-ink);
    --button-underline: var(--d-button-underline);
    --button-outline-tint: var(--d-button-outline-tint);
    --button-outline-tint-hover: var(--d-button-outline-tint-hover);

    --select-background: var(--d-select-background);
    --select-background-hover: var(--d-select-background-hover);
    --kbd-shadow-color: var(--d-kbd-shadow-color);

    --eupnea-green: var(--d-eupnea-green);
    --eupnea-blue: var(--d-eupnea-blue);
}