@import url(revert-vite.css);

a {
    color: var(--link-color, inherit);
    text-decoration: underline;
}

p {
    font-size: 1.2em;
    max-width: var(--content-width);
}

footer {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    padding: 1em 0 2em 0;
    border-top: 1px solid var(--muted-color);
    margin-top: 1em;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5em 2em;
    box-sizing: border-box;
}

.icon-text {
    display: inline-flex;
    gap: 0.75em;
    align-items: center;
}

h1, h2, #heading {
    color: var(--heading-color);
}
h1 {
    font-size: 3.2em;
    opacity: 0;
    transform: translateY(-0.5em);
    animation: fade-transform 3s 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    margin: 0;
}
h2 {
    margin: 0.25em 0;
    font-size: 2.5em;
}

#heading {
    margin-top: 2em;
}

.bg-mute {
    background-color: var(--muted-background);
    border-left: none;
    border-right: none;
}

.soft {
    font-size: 0.9em;
    color: var(--soft-color);
    max-width: 65%;
    margin: 0;
}

.separator {
    background-color: var(--muted-color);
}

.row {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.row > .separator {
    width: 1px;
    margin: 4em 0;
}

.full-height {
    min-height: 100vh;
}
.initial-view {
    position: relative;
    text-align: center;
    padding-top: calc(17vh - 4em);
    justify-content: start;
    gap: 4em;
}

.presentation > .extend {
    flex: 1;
}

.presentation > .soft {
    display: flex;
    align-items: center;
    min-height: 3em;
}

.presentation {
    padding: 2em;
    background-color: var(--muted-background);
    border: 0.1em solid var(--muted-outline);
    border-radius: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    max-width: 33em;
    text-align: center;
    box-shadow: 0 0.2em 0.4em 0.2em #22222208;
}

.fade-in-light {
    transform: translateY(0.2em);
    opacity: 0;
    animation: fade-transform 2s 0.6s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

.fade-in > * {
    opacity: 0;
    animation: fade-transform 1.2s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

.fade-in > *:not(.no-fade) {
    transform: translateY(2em);
}

@keyframes fade-transform {
    0% { opacity: 0; }
    100% {
        opacity: 1;
        transform: none;
    }
}

.extend {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.logo-grid {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6em 1em;
}
.logo-grid > * {
    cursor: default;
    user-select: none;
    gap: 0.3em;
}
.logo-grid img {
    opacity: 0.6;
    transition: 0.15s;
}
.logo-grid .icon-text:hover img {
    opacity: 1;
}

.presentation img {
    height: 1.5em;
}

.title > img {
    height: 4.5em;
    filter: drop-shadow(0.1em 0.1em 0.2em #0003);
}

.placeholder {
    min-width: 10vw;
    min-height: 10vh;
}

.chevron {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding: 1em 0 2em 0;
    cursor: pointer;
    fill: var(--soft-color);
    animation: fade-transform 1s 1.5s linear backwards, bounce 2.5s ease-in-out infinite;
    transition: 0.4s;
}
.chevron:hover {
    fill: var(--base-color-emphasize);
}
.chevron.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

@keyframes bounce {
      0% { transform: translateY(0); }
     50% { transform: translateY(-0.75em); }
    100% { transform: translateY(0); }
}

.info-row {
    flex-direction: row;
    align-items: flex-start;
    padding: 20vh 10vw;
    gap: 10vw;
}
.preview {
    position: relative;
    background: repeating-linear-gradient(-45deg, #0008 0em, #0008 0.4em, #0000 0em, #0000 1.4em);
    display: flex;
    min-width: 30vw;
    width: 40vw;
    box-shadow: 0.2em 0.2em #0007;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.preview:hover {
    transform: translate(-0.2em, -0.2em);
    box-shadow: 0.5em 0.5em #0005;
}

.preview img.big {
    max-width: 100%;
    opacity: 0.6;
}
.preview .icon {
    position: absolute;
    width: 7em;
    max-width: 20vw;
    filter: drop-shadow(0.2em 0.2em 0.05em #0004);
    animation: float 3s ease-in-out infinite alternate;
}

@keyframes float {
      0% { transform: translateY(0); }
    100% { transform: translateY(-0.4em); }
}

.rev-row {
    flex-direction: row-reverse;
}

@media screen and (max-width: 799px) {
    header {
        position: relative;
    }

    h1 {
        font-size: 3.5em;
        margin-bottom: 1em;
    }

    .row {
        flex-direction: column;
    }

    .row > .separator {
        display: none;
    }

    .full-height {
        min-height: auto;
        justify-content: center;
    }

    .initial-view {
        padding-top: 3em;
    }

    .chevron {
        display: none;
    }

    .soft {
        max-width: 100%;
    }

    .info-row {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4em 2em;
    }
    .blog {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .preview {
        width: auto;
    }

    .blog a {
        align-self: center;
    }
}
